@import "tailwindcss";
/* @import "@radix-ui/themes/styles.css"; */

:root {
  --background: #efefef;
  --foreground: #171717;
  --primary-main: #6bb38f;
  --secondary-main: #b1bfb7;
  --text: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f6f6f6;
    --text: #f6f6f6;
    --primary-main: #648072;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-bordercolor: var(--text);
  --color-primary-main: var(--primary-main);
  --color-secondary-main: var(--secondary-main);
}

html {
  font-size: 16px;
}

* {
  color: var(--text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--text-4xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-base);
}

h6 {
  font-size: var(--text-base);
}

@media screen and (min-width: theme("screens.lg")) {
  h1 {
    font-size: var(--text-8xl);
  }

  h2 {
    font-size: var(--text-5xl);
  }

  h3 {
    font-size: var(--text-4xl);
  }

  h4 {
    font-size: var(--text-3xl);
  }

  h5 {
    font-size: var(--text-2xl);
  }

  h6 {
    font-size: var(--text-xl);
  }
}

a:hover {
  text-decoration: underline;
}
